[submodule "external/yaml-cpp"]
	path = external/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp.git
[submodule "external/entityx"]
	path = external/entityx
	url = git@github.com:kdavison/entityx.git
[submodule "external/googletest"]
	path = external/googletest
	url = git@github.com:google/googletest.git
[submodule "external/spdlog"]
	path = external/spdlog
	url = git@github.com:gabime/spdlog.git
[submodule "external/protobuf"]
	path = external/protobuf
	url = https://github.com/google/protobuf.git
[submodule "external/gainput"]
	path = external/gainput
	url = https://github.com/jkuhlmann/gainput.git
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw.git
[submodule "external/glm"]
	path = external/glm
	url = https://github.com/g-truc/glm.git
